*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;

}
body{
    background-image:url("https://img.freepik.com/free-photo/galaxy-wallpaper-warm-colors_23-2151769491.jpg?semt=ais_hybrid&w=740&q=80");
    background-size: cover;
    text-align: center;
}
.links{
    text-decoration: none;
    margin-top: 25px;
    line-height: 50px;
    color:whitesmoke;
}
h2{
        color:whitesmoke;
}
#navbar{
    display:flex;
    text-align: right;
    background-color: rgba(0, 0, 0, 0.452);

}
#right-sided-navbar{
    display: flex;
    justify-content: space-evenly;
    margin-right: 0px;
    align-items: end;
        text-align: right;
    margin-left: 800px;
    width: 500px;
    font-weight: 400;
}
#logo{
    left:40px;
    display: inline-block;
}
#form-container{
    margin-top: 150px;
    background-color: rgba(0, 0, 0, 0.65);
    text-align: center;
    height: 550px;
    width: 900px;
    border-radius: 15px;
    margin-left: 220px;
}
#submit-button{
    background-color: black;
    font-family: sans-serif;
    font-weight: 900;
    width:400px;
    color:whitesmoke;
    
}
.inputs{
    border-radius: 15px;
    margin-top: 10px;
    height: 30px;
    width:300px;
    text-align: center;
}
#footer{
    background-color: rgba(0, 0, 0, 0.65);
    text-align: right;
    height: 100px;
    color:whitesmoke;
}
.links:hover{
    color:orange;
    font-weight: bolder;
    transition-duration: 1s;
}
#submit-button:active{
    background-color: grey;
    transition-duration: 2ms;
}
.gender{
    color:white;
    display: inline-block;
}

