*{
    margin: 0;
    padding: 0;

}
body{
    background-image:url("https://img.freepik.com/free-photo/galaxy-wallpaper-warm-colors_23-2151769491.jpg?semt=ais_hybrid&w=740&q=80");
    background-size: cover;
    text-align: center;
}
.links{
    text-decoration: none;
    margin-top: 25px;
    line-height: 50px;
    color:whitesmoke;
    font-family: arial;
}
#headings{
        color:whitesmoke;
        font-family: 'Trebuchet MS';
}
#navbar{
    display:flex;
    text-align: right;
    background-color: rgba(0, 0, 0, 0.452);

}
#right-sided-navbar{
    display: flex;
    justify-content: space-evenly;
    margin-right: 0px;
    align-items: end;
        text-align: right;
    margin-left: 800px;
    width: 500px;
    font-weight: 400;
}
#logo{
    display: inline-block;
    height: 65px;
    margin-left: 10px;
    margin-bottom: 10px;
}
#logo:hover{
    transition:all 0.4s ease-in;
    transform: scale(1.20);
}
#form-container{
    margin-top: 150px;
    background-color: rgba(0, 0, 0, 0.65);
    text-align: center;
    height: 700px;
    width: 900px;
    border-radius: 15px;
}
#submit-button{
    background-color: black;
    font-family: sans-serif;
    font-weight: 900;
    width:400px;
    color:whitesmoke;
    
}
.inputs{
    border-radius: 10px;
    margin-top: 10px;
    height: 30px;
    width:300px;
    text-align: center;
    font-family: arial;
}
#footer{
    background-color: rgba(0, 0, 0, 0.65);
    text-align: right;
    height: 100px;
    color:whitesmoke;
    margin-top:70px;
    font-family: arial;
}
.links:hover{
    color:orange;
    font-weight: bolder;
    transition-duration: 0.75s;
}
#submit-button:active{
    background-color: grey;
}
#submit-button:hover{
    transform:scale(1.05,1);
    transition:all 1s ease-in;
}
.gender{
    color:white;
    display: inline-block;
    bottom:10px
}
#total-spaced-form{
    display:flex;
    justify-content:center;
}
#gender-div{
    display:flex;
    justify-content:center;
}
#male{
    padding-right:20px;
}
#gender-div2{
    display:flex;
    width:100px;
    justify-content:space-around;
}
#logo:active{
    transform: translateX(600px);
}
    


















