*{
    margin: 0;
    padding: 0;

}
body{
    background-image:url("https://img.freepik.com/free-photo/galaxy-wallpaper-warm-colors_23-2151769491.jpg?semt=ais_hybrid&w=740&q=80");
    background-size: cover;
    text-align: center;
}
.links{
    text-decoration: none;
    margin-top: 25px;
    line-height: 50px;
    color:whitesmoke;
    font-family: arial;
}
#headings{
        color:whitesmoke;
        font-family: 'Trebuchet MS';
}
#navbar{
    display:flex;
    text-align: right;
    background-color: rgba(0, 0, 0, 0.452);

}
#right-sided-navbar{
    display: flex;
    justify-content: space-evenly;
    margin-right: 0px;
    align-items: end;
        text-align: right;
    margin-left: 800px;
    width: 500px;
    font-weight: 400;
}
#logo{
    display: inline-block;
    height: 65px;
    margin-left: 10px;
    margin-bottom: 1px;
}
#logo:hover{
    transition:all 0.25s ease-in;
    transform: scale(1.10);
}
#form-container{
    margin-top: 150px;
    background-color: rgba(0, 0, 0, 0.65);
    text-align: center;
    height: 750px;
    width: 900px;
    border-radius: 15px;
}
#submit-button{
    background-color: black;
    font-family: sans-serif;
    font-weight: 700;
    width:400px;
    color:whitesmoke;
    margin-top:30px;
}
.inputs{
    border-radius: 10px;
    margin-top: 10px;
    height: 30px;
    width:300px;
    font-family: arial;
    padding-left:10px;
}
.links:hover{
    color:orange;
    font-weight: bolder;
    transition-duration: 0.7s;
}
#submit-button:active{
    background-color: orange;
}
#submit-button:hover{
    transform:scale(1.05,1);
    transition:all 0.5s ease-in;
}
.gender{
    color:white;
    display: inline-block;
    bottom:10px
}
#total-spaced-form{
    display:flex;
    justify-content:center;
}
#gender-div{
    display:flex;
    justify-content:center;
}
#male{
    padding-right:20px;
}
#gender-div2{
    display:flex;
    width:100px;
    justify-content:space-around;
}
.footer:hover{
    border:0.01px dashed orange;
    border-radius:7px;
    color:orange;
}
.footer:hover{
    transition:font-size 0.5s ease-in;
    font-size:13.7px;
    }
#hobby{
    border-radius: 10px;
    margin-top: 10px;
    height: 100px;
    width:500px;
    font-family: arial;
    padding-left:10px;
    padding-top:5px;
}
#credit{
    height:200px;
    width:200px;/*balebale*/
    border-radius:50%;
}
#footer {
    background-color: rgba(0, 0, 0, 0.65);
    color: whitesmoke;
    margin-top: 70px;
    font-family: arial;
    padding: 20px 0;
    height: auto;
}

footer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    padding: 10px;
}
#c-d {
    display: flex;
    justify-content: center;
    align-items: center;
}
#f-d {
    text-align: left;
    display: flex;
    flex-direction: column; 
}
.footer {
    margin: 4px 0;
    font-size: 13px;
    display: block;
    padding-left:5px;
}


























































