* {
    margin: 0;
    padding: 0;
    font-family:arial;
    font-weight:300;
}

/* -------------------------------------- */
/* ANIMATIONS */
/* -------------------------------------- */

@keyframes head {
    from { transform: translateX(0px); }
    to { transform: translateX(100%); }
}

@keyframes headings {
    from { transform: translateX(0px); }
    to { transform: translateX(300px); }
}
@media screen and (min-width: 600px) and (max-width:1250px){
    @keyframes head {
    from { transform: translateX(0px); }
    to { transform: translateX(55%); }
}
}

/* -------------------------------------- */
/* GLOBAL */
/* -------------------------------------- */

body {
    background-image: url("backg.png");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    scrollbar-width: none;
}

#icon {
    border-radius: 50%;
}

/* -------------------------------------- */
/* HEADINGS */
/* -------------------------------------- */

#main-head {
    margin-left: 200px;
    margin-top: 30px;
    font-family: 'Trebuchet MS';
    animation-name: head;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    animation-delay: 0.3s;
    background: -webkit-linear-gradient(135deg, whitesmoke, orange 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
}

#f-main-head {
    margin: 20px;
}

.headings {
    margin-right: 600px;
    background: -webkit-linear-gradient(whitesmoke, orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Trebuchet MS';
    animation-name: headings;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    width: 400px;
    font-weight: 800;
}
/* -------------------------------------- */
/* NAVBAR */
/* -------------------------------------- */
#navbar {
    backdrop-filter: blur(11px);
    display: flex;
    text-align: right;
    background-color: rgba(0, 0, 0, 0.452);
    position: relative;
    right: 0;
    z-index: 10;
    border-bottom: 1.7px solid rgba(255, 255, 255, 0.6);
}
/* -------------------------- */
/* MENU BUTTON + DROPDOWN     */
/* -------------------------- */

#menu {
    position: absolute;
    right: 20px;
    top: 20px;
}

#menu-btn {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: 1px solid rgba(255,255,255,0.7);
    padding: 10px 18px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

#menu-btn:hover {
    background-color: rgba(255, 165, 0, 0.4);
    transition: 0.3s;
}

#dropdown {
    display: none;
    flex-direction: column;
    background-color: rgba(0,0,0,0.75);
    border: 1px solid rgba(255,255,255,0.7);
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
    width: 140px;
}

#dropdown a {
    text-decoration: none;
    color: white;
    padding: 10px;
    display: block;
    text-align: left;
}

#dropdown a:hover {
    background: linear-gradient(90deg, orange, yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#menu:hover #dropdown {
    display: flex;
}


.sub-drop {
    position: relative;
}

.main-link {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.sub-options {
    display: flex;
    flex-direction: column;
    background-color: rgba(0,0,0,0.85);
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 8px;
    position: absolute;
    left: 5px;
    top: 50px;

    padding: 10px;
    width: 140px;

    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-5px);
    
}


.sub-options a {
    padding: 8px;
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.sub-options a:hover {
    background: linear-gradient(90deg, orange, yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.sub-drop:hover .sub-options {
    max-height: 200px;
    opacity: 1;
    transform: translateY(0);
}


#logo {
    display: inline-block;
    height: 75px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 1px;
    border-radius: 50%;
}

#logo:hover {
    transition: all 0.25s ease-in;
    transform: scale(1.10);
}

/* -------------------------------------- */
/* FORM CONTAINER */
/* -------------------------------------- */

#form-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 150px;
    background-color: rgba(0, 0, 0, 0.24);
    text-align: center;
    width: 650px;
    height: auto;
    border-radius: 15px;
    backdrop-filter: blur(13.3px);
    border:1px solid rgba(255,255,255,0.7)
}

#form {
    display: flex;
    justify-content: center;
}

.inputs {
    background-color: transparent;
    border: 0;
    border-bottom: 1.7px solid rgba(255, 255, 255, 0.6);
    margin-top: 10px;
    height: 37px;
    width: 380px;
    font-family: arial;
    padding-left: 10px;
    color: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
}

.inputs:focus {
    outline: none;
    border-bottom: 2px solid orange;
    transition: border-bottom 0.4s ease-in;
}

.inputs::placeholder {
    color: rgba(255, 255, 255, 0.6);
}
#skills{
    color: whitesmoke;
}
select option {
    color: black;
}

#submit-button ,#reset-button{
    background-image:linear-gradient(140deg,rgb(50, 202, 253),rgb(255, 30, 30));
    font-family: sans-serif;
    font-weight: 700;
    width: 400px;
    margin-top: 30px;
    border-radius: 15px;
    color: whitesmoke;
}
#submit-button {
    margin-bottom: 20px;
}

#submit-button:hover, #reset-button:hover {
    transform: scale(1.05, 1);
}

#submit-button:active, #reset-button:active {
    background: -webkit-linear-gradient(135deg, black, orange 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}




.skills-option{
    color: white;
    font-family: arial;
    font-size: 16px;
    display: inline-block;
    align-items: center;
    font-weight:100;
}
#resume::file-selector-button{
    background-color: rgba(255, 255, 255, 0);
    border-radius: 10px;
    color:white
}
#total-spaced-form {
    display: flex;
    justify-content: center;
}
#gender-div {
    display: flex;
    justify-content: center;
}
#skills-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-left: 250px;
}

#male {
    padding-right: 20px;
}

#gender-div2 {
    display: flex;
    width: 270px;
    justify-content: space-around;
}

#talent {
    border-radius: 10px;
    margin-top: 10px;
    height: 100px;
    width: 500px;
    font-family: arial;
    padding-left: 10px;
    padding-top: 5px;
    background-color:rgba(245,245,245,0.7)
}

/* -------------------------------------- */
/* FOOTER */
/* -------------------------------------- */

#footer {
    background-color: rgba(0, 0, 0, 0.65);
    color: whitesmoke;
    margin-top: 70px;
    font-family: arial;
    padding: 20px 0 0 0;
    height: auto;
}

footer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    padding: 10px;
    backdrop-filter: blur(11px);
}

#c-d {
    display: flex;
    justify-content: center;
    align-items: center;
}

#f-d {
    text-align: left;
    display: flex;
    flex-direction: column;
}

.footer {
    margin: 4px 0;
    font-size: 13px;
    display: block;
    padding-left: 5px;
}

.footer:hover {
    border: 0.01px dashed rgb(112, 208, 248);
    border-radius: 7px;
    background: -webkit-linear-gradient(rgb(112, 208, 248), whitesmoke);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: font-size 0.5s ease-in;
    font-size: 13.4px;
}

#credit {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    padding: 17px 0 0 0;
}

#credit:hover {
    transform: scale(1.10);
    transition-duration: 0.4s;
}


form {
    box-shadow: 0 0 25px rgba(255, 165, 0, 0.3);
    border-radius: 12px;
}
/*--------------------------------------*/
/*DASHBOURD*/
/*--------------------------------------*/
#main-img {
    width: 322px;      
    height: 450px;       
    border-radius: 15px;
    display: inline-block;
}

#dash-con {
    color: rgba(255, 255, 255, 0.932);
    font-size: 14px;
    line-height: 1.6;
    width: 55%;
    padding: 20px;
    font-weight: 550;
}

#dash-container {
    display: flex;
    flex-direction: row;     
    justify-content: flex-start;
    align-items: center;     
    margin-top: 150px;
    background-color: rgba(0, 0, 0, 0.24);
    width: 650px;
    height: auto;
    gap: 30px;
    border-radius: 15px;
    backdrop-filter: blur(13.3px);
    border: 1px solid rgba(255,255,255,0.7);  
    flex-wrap: nowrap;      
}


