*{
    margin: 0;
    padding: 0;
}
@keyframes head{
    from{transform: translateX(0px);}
    to{transform:translateX(270px);}
}
@keyframes headings{
    from{transform: translateX(0px);}
    to{transform:translateX(300px);}
}
#icon{
    border-radius:50%;
}
body{
    background-image:url("galaxy-wallpaper-warm-colors.jpg");
    background-size: cover;
    text-align: center;
}
#main-head{
    margin-left:100px;
    margin-top:30px;
    font-family: 'Trebuchet MS';
    animation-name: head;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-delay: 0.3s;
    background: -webkit-linear-gradient(135deg,whitesmoke,orange 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.links{
    text-decoration: none;
    margin-top: 25px;
    line-height: 50px;
    color:whitesmoke;
    font-family: arial;
}
.headings{
        margin-right: 600px;
        background: -webkit-linear-gradient(whitesmoke,orange);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: 'Trebuchet MS';
        animation-name: headings;
        animation-duration: 0.8s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in;
}
#navbar{
    display:flex;
    text-align: right;
    background-color: rgba(0, 0, 0, 0.452);
    right:0px;
    position: relative;
    z-index: 10;
}
#navbar::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px; 
    width: 100%;
    height: 20px; 
    z-index: -1;
    background: linear-gradient(to bottom, rgba(255,165,0,0.7), rgba(255,255,0,0.0));
    filter: blur(12px);
}
#right-sided-navbar{
    display: flex;
    justify-content: space-evenly;
    margin-right: 0px;
    align-items: end;
    text-align: right;
    margin-left: 320px;
    width: 330px;
    font-weight: 400;
}
#logo{
    display: inline-block;
    height: 75px;
    margin-left: 10px;
    margin-top:5px;
    margin-bottom: 1px;
    border-radius:50%;
}
#logo:hover{
    transition:all 0.25s ease-in;
    transform: scale(1.10);
}
#form-container{
    margin-top: 150px;
    background-color: rgba(0, 0, 0, 0.65);
    text-align: center;
    height: auto;
    width: 930px;
    border-radius: 15px;
}
#submit-button{
    background-image: linear-gradient(orange,black,orange);
    font-family: sans-serif;
    font-weight: 700;
    width:400px;
    color:whitesmoke;
    margin-top:30px;
    margin-bottom:50px;
}
.inputs{
    border-radius: 10px;
    margin-top: 10px;
    height: 30px;
    width:300px;
    font-family: arial;
    padding-left:10px;
}
.links:hover{
    background: -webkit-linear-gradient(135deg,whitesmoke,orange 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition-duration:0.7s;
    font-weight: 600;
    transition-duration: 0.7s;
}
#submit-button:active{
    background: -webkit-linear-gradient(135deg,black,orange 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#submit-button:hover{
    transform:scale(1.05,1);
    transition:all 0.5s ease-in;
}
.gender{
    color:white;
    display: inline-block;
    bottom:10px;
}
.salary-option,.exp-option{
    color: white;
    font-family: arial;
    font-size: 16px;
    display: flex;
    align-items: center;    
}
#total-spaced-form{
    display:flex;
    justify-content:center;
}
#gender-div{
    display:flex;
    justify-content:center;
}
#salary-div,#exp-div {
    display: flex;
    flex-direction: column;   
    align-items: flex-start; 
    gap: 10px;     
    margin-left:350px;
}
#male{
    padding-right:20px;
}
#gender-div2{
    display:flex;
    width:270px;
    justify-content:space-around;
}
.footer:hover{
    border:0.01px dashed orange;
    border-radius:7px;
    background: -webkit-linear-gradient(orange ,whitesmoke);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.footer:hover{
    transition:font-size 0.5s ease-in;
    font-size:13.4px;
    }
#talent{
    border-radius: 10px;
    margin-top: 10px;
    height: 100px;
    width:500px;
    font-family: arial;
    padding-left:10px;
    padding-top:5px;
}
#credit{
    height:200px;
    width:200px;/*balebale*/
    border-radius:50%;
}
#footer {
    background-color: rgba(0, 0, 0, 0.65);
    color: whitesmoke;
    margin-top: 70px;
    font-family: arial;
    padding: 20px 0;
    height: auto;
}

footer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    padding: 10px;
}
#c-d {
    display: flex;
    justify-content: center;
    align-items: center;
}
#f-d {
    text-align: left;
    display: flex;
    flex-direction: column; 
}
.footer {
    margin: 4px 0;
    font-size: 13px;
    display: block;
    padding-left:5px;
}


























